body {
    font-family: sans-serif;
    text-align: center;
    background-color: rgb(154, 199, 239);
   font-family: 'Brush Script MT', cursive ; 
}
.skzskzoo{
    width:480px;
   height:480px;
}

.skzzaraz{
 width:330px;
   height:330px;
}

